//- !doctype
html
  head
    title OriginDancyAcademy - #{title}
    block scripts
    block styles 
  body
    nav#navbar
      ul
        li.list
          a(href='/') HOME
        li.list
          a(href='/') ABOUT
        li.list
          a(href='/contact') CONTACT
        li.list
          a(href='/') BLOGS
    block content
    block foot