//- doctype html
//- html(lang="en")
//-   <meta charset="UTF-8">
//-   <meta http-equiv="X-UA-Compatible" content="IE=edge">
//-   <meta name="viewport" content="width=device-width, initial-scale=1.0">
//-   <link rel="stylesheet" href="../templates/style.css">
//-   <title>nitintiwari</title>
//- </head>
//- <nav id="navbar">
//-   <ul class="ull">
//-     <!-- <img class="logo" src="../templates/logo.jpg">-->
//-     <li class="list"><a href="/">HOME</a></li>
//-     <li class="list"><a href="/">ABOUT</a></li>
//-     <li class="list"><a href="/">CONTACT</a></li>
//-     <li class="list"><a href="/">BLOGS</a></li>
//-   </ul>
//- </nav>
//- <section id="home">
//-   <h1 class="heading">Origin Dance Academy</h1>
//-   <h2 class="heading2">Dance Repeat&amp;Repeat</h2>
//- </section>
//- <!-- middle-->
//- <section id="center">
//-   <h1 class="heading3">Our Services</h1>
//-   <div id="item">
//-     <div class="box">
//-       <h4 class="head">Best Teachers</h4>
//-       <p class="para">we have best dance<br> masters in the world</p><img src="../templates/a.gif">
//-     </div>
//-     <div class="box">
//-       <h4 class="head">Dance Variation</h4>
//-       <p class="para">we have best types<br>of dances in the world</p><img src="../templates/b.png">
//-     </div>
//-     <div class="box">
//-       <h4 class="head">Highest Dance Rankers</h4>
//-       <p class="para">Having best dance<br> rankers in the world</p><img src="../templates/c.png">
//-     </div>
//-   </div>
//- </section>
//- <!-- sponcer section-->
//- <section id="sponcer">
//-   <h1 class="heading1">sponcer Academy</h1><img src="../templates/tweet.jpg"><img src="../templates/skype.png"><img src="../templates/apple.jpg"><img src="../templates/amazon.png">
//- </section>
//- <!-- footer-->
//- <footer class="footerr">nitintiwari &copy; origindanceacademy.com</footer>